<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD NODEJS</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--Fonte para a página-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<!--Font Awesome para os ícones-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
	</style>
</head>

<body style="margin: 2%">
    {{{body}}}

    <script src="/js/javascript.js"></script>
</body>
</html>