<h1>Cadastrar</h1>

<form style=''>
    <label for='nome'>Nome</label>
    <input id='nome' name="nome">
    <label for='senha'>Nome</label>
    <input id='senha' name="senha"> 
    <button>Cadastrar</button>
</form>