	<h2 style="text-align: center;">Sistema de Controle de Estoque (CRUD)</h2>

	<form action="/login" target="_self" method="POST">
		<div class="section">
		<h1><b>Entrar como cliente<b></h1>
		</div><br>
		<div class="section">
		<label>Login</label><br>
		<input style="width: 90%; border: 1px solid #ccc; padding: 10px" type="text" name="login_login" id="login_login">
		</div>
		<div class="section">
		<label>Senha</label><br>
		<input style="width: 90%; border: 1px solid #ccc; padding: 10px" type="password" name="senha_login" id="senha_login">
		</div><br>
		<div align="center">
			<button onclick="" style="padding: 4px; margin-left: 2px" type="submit" class="">
				<i class="fa fa-check"></i>
				Entrar
			</button>
			<button onclick="" style="padding: 4px; margin-left: 2px" class="">
				<a href='/usuario/registrar'> Cadastrar</a>
			</button>
		</div>
	</form>

