html {
    font-family: "Raleway", sans-serif;
}

h2, h3 {
    text-align: center;
}

table {
    border-collapse: collapse; 
    width: 100%; 
    text-align: center;
}

th {
    background: lightgray;
    height: 2.5em;
}

td {
    height: 2em;
}

td > input {
    display: none;
}
